[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Ll]ogs/
[Mm]emoryCaptures/
UserSettings/
Packages/*
ProjectSettings/
AutoBuild/


.vs/
.idea/
.vscode/
*.csproj
*.unityproj
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.opendb
*.VC.db

crashlytics-build.properties

.idea/
.Rider/
.gradle/
.gradle-cache/
.gradle-user/

*.unitypackage
